@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(../fonts/6xktdszam9ie8kbpra_hk1qi.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(../fonts/6xkodszam9ie8kbpra_pkheyt8l6.ttf) format('truetype');
}
